<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <h2>{{ result }}</h2>
    </ion-card-content>
  </ion-card>

  <div class="button-grid">
    
    <div>
      <ion-button (click)="appendToResult('7')">7</ion-button>
      <ion-button (click)="appendToResult('8')">8</ion-button>
      <ion-button (click)="appendToResult('9')">9</ion-button>
      <ion-button (click)="clearResult()">C</ion-button>
    </div>
  
    <div>
      <ion-button (click)="appendToResult('4')">4</ion-button>
      <ion-button (click)="appendToResult('5')">5</ion-button>
      <ion-button (click)="appendToResult('6')">6</ion-button>
      <ion-button (click)="setOperation('+')">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  
    <div>
      <ion-button (click)="appendToResult('1')">1</ion-button>
     <ion-button (click)="appendToResult('2')">2</ion-button>
      <ion-button (click)="appendToResult('3')">3</ion-button>
      <ion-button (click)="setOperation('-')">-</ion-button>
    </div>



    <div>
      <ion-button (click)="setOperation('*')">X</ion-button>
      <ion-button (click)="appendToResult('0')">0</ion-button>
      <ion-button (click)="setOperation('/')">/</ion-button>
      <ion-button (click)="calculateResult()">=</ion-button>
    </div>
    
  </div>
</ion-content>
